/servers/mediawiki1/htdocs
/servers/mediawiki2/htdocs
**/old
**/node_modules
*_final.side
coverage/log
coverage/report
coverage/mediawiki1
coverage/mediawiki2
coverage/tools/clover.xsd
README_TODO.md

servers/mediawiki1/.idea/
servers/mediawiki1/log/
servers/mediawiki2/log/

test/PushAll/import.side
test/PushAll/tests.side
test/PushAll/import_final.side
test/PushAll/tests_final.side
test/PushAll/.idea

test/LinkedWiki/tests_final.side
test/LinkedWiki/testsJobs_final.side
test/LinkedWiki/old
